@{
    ViewBag.Title = "Home Page";
}

<section class="content" style="margin-top:3%">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title" style="margin-left:37%;color:Highlight;font-weight:600;font-size:x-large">CREATE RECEIPT</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" id="CreateReportPlus">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" id="Date" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Receipt No</label>
                                <input type="number" id="ReceiptNo" class="form-control" style="text-transform:uppercase" />
                            </div>
                            <!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>STD ID</label>
                                <input type="text" id="STDID" class="form-control" style="text-transform:uppercase" />
                            </div>
                            <!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Student Name</label>
                                <input type="Text" id="StudentName" class="form-control" style="text-transform:uppercase" disabled />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Course</label>
                                <input type="Text" id="Cource" class="form-control" style="text-transform:uppercase" disabled />
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>


                    <!-- /.row -->
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label>Total Rs:</label>
                                <input type="number" id="TotalFee" class="form-control">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-12 col-sm-4" style=" margin-top: 3%;">
                            <div class="form-group">
                                <label>Fees Type : </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="FeesType" value="CASH" checked="checked">
                                    <label class="form-check-label" for="inlineRadio1">CASH</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="FeesType" value="CHEQUE">
                                    <label class="form-check-label" for="inlineRadio2">CHEQUE</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="FeesType" value="OTHER">
                                    <label class="form-check-label" for="inlineRadio2">OTHER</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label>Fees In Words:</label>
                                <input type="text" id="FeesInWords" class="form-control" disabled>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <!-- /.col -->
                        <!-- /.col -->
                    </div>


                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button class="btn btn-primary" style="float:right" id="bntCreateReceipt">Create Receipt</button>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<div class="card">
    <!-- /.card-header -->
    <div class="card-header">
        <h3 class="card-title" style="margin-left:41%;color:Highlight;font-weight:600;font-size:x-large">RECEIPT'S</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" id="ReceiptList">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STD ID</th>
                    <th>Receipt No</th>
                    <th>Date</th>
                    <th>Student Name</th>
                    <th>Course</th>
                    <th>Paid-Fees</th>
                    <th>Due-Fees</th>
                    <th>Payment-Type</th>                   
                    @*<th>Action</th>*@

                </tr>
            </thead>
            <tbody id="ReceiptListBody">
            </tbody>
        </table>
        <!-- /.form group -->
    </div>


</div>

@section scripts{

    <script src="~/Scripts/Receipt.js"></script>
}




